@using AirlineTicketSystem.Data.Entities
@using AirlineTicketSystem.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users";
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
    <div class="container mt-4">
        <div class="text-center mb-4">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
            <table class="table table-hover table-striped table-bordered shadow-sm">
                <thead class="thead-light">
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        var roles = await UserManager.GetRolesAsync(user);
                        var roleNames = string.Join(", ", roles);

                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@roleNames</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    {
    var url = Url.Action("Users", "Account");
    }
    <script>
        window.location.href = "url";
    </script>

}

